@model List<WebAppAjaxSpiritualArt.Models.PRODUCTO>
@using WebAppAjaxSpiritualArt.Models;
@{
    ViewBag.Title = "DetalleObra";

    PRODUCTO detalleObra = ViewBag.DetalleObra;
    string imagen = detalleObra.IMAGEN_PRODUCTO.Replace("..", "~");

}


<body class="body5">

    <div class="cont5">
        <div class="card5">
            <div>
                <figure class="figure5">
                    <img src="@Url.Content(imagen)" alt="" />
                </figure>
            </div>

            <div class="detalle">
                <input type="hidden" id="fk_artista" value="@detalleObra.FK_ARTISTA" />
                <input type="hidden" id="fk_producto" value="@detalleObra.PK_ID_PRODUCTO" />
                <h2 class="name5" style="text-align:left">@detalleObra.NOMBRE_PRODUCTO</h2>
                <h2 class="precio" style="text-align:left"><strong>COP $</strong>@detalleObra.PRECIO</h2>
                <h2 class="descripcion" style="text-align:left">
                    <strong>Descripcion : </strong>@detalleObra.DESCRIPCION
                </h2>
                <h2 class="tecnica" style="text-align:left"><strong>Tecnica: </strong>@detalleObra.CATEGORIA.NOMBRE_CATEGORIA</h2>
                <h2 class="dimension" style="text-align:left"><strong>Ciudad: </strong>@detalleObra.REGISTRO_ARTISTA.CIUDAD</h2>
                <h2 class="artista" style="text-align:left">
                    <a href=""><strong>Artista: </strong>@detalleObra.REGISTRO_ARTISTA.NOMBRE_ARTISTA</a>
                </h2>
            </div>
        </div>
    </div>

    <hr />

    <div style="text-align:center">
        <h1>¿Tienes interés en comprar esta obra?</h1>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#FormularioCliente">
            Hazle saber al artista
        </button>
    </div>
</body>
<br />
<br />
<hr />
<h1>Otros trabajos del artista</h1>

<div class="container">
    <div class="rowProducts">

        <div class="row2">
            @foreach (var obras in Model)
            {
                if (detalleObra.NOMBRE_PRODUCTO != obras.NOMBRE_PRODUCTO)
                {

                    string imagenes = obras.IMAGEN_PRODUCTO.Replace("..", "~");


                    <div class="card2" style="width: 18rem;">
                        <img src="@Url.Content(imagenes)" class="card-img-top" alt="..." width="250" height="250">
                        <div class="card-body">
                            <h5 class="card-title">@obras.NOMBRE_PRODUCTO</h5>
                            <p>@obras.DESCRIPCION</p>
                            <p class="card-text">@obras.PRECIO</p>
                            <a href="@Url.Content("~/Principal/DetalleObraCompra/" + obras.PK_ID_PRODUCTO)" class="btn btn-primary">Ver obra</a>
                        </div>
                    </div>
                }

            }

        </div>
    </div>
</div>
<!-- Modal cliente -->
<div class="modal fade" id="FormularioCliente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contacta al artista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <label>Nombre</label><br />
                <input type="text" id="nombre_cliente" class="form-control" />
                <h6 id="valNombre" style="color:red"></h6><br />

                <label>Apellido</label><br />
                <input type="text" id="apellido_cliente" class="form-control" />
                <h6 id="valApellido" style="color:red"></h6><br />

                <label>Teléfono</label><br />
                <input type="text" id="telefono_cliente" class="form-control" />
                <h6 id="valTel" style="color:red"></h6><br />

                <label>Correo</label><br />
                <input type="text" id="correo_cliente" class="form-control" />
                <h6 id="valCorreo" style="color:red"></h6><br />



                <label>Asunto</label><br />
                <input type="text" id="asunto" class="form-control" />
                <h6 id="valAsunto" style="color:red"></h6><br />

                <label>Mensaje</label><br />
                <textarea id="mensaje_cliente" class="form-control"></textarea>
                <h6 id="valMensaje" style="color:red"></h6><br />


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btn-enviar">Enviar</button>

            </div>

        </div>
    </div>
</div>

@section scripts{
    <script>

        $(function () {

            $("#btn-enviar").click(function () {

                let nombre = document.getElementById("nombre_cliente").value;
                let apellido = document.getElementById("apellido_cliente").value;
                let telefono = document.getElementById("telefono_cliente").value;
                let correo = document.getElementById("correo_cliente").value;
                let asunto = document.getElementById("asunto").value;
                let mensaje = document.getElementById("mensaje_cliente").value;

                if (nombre != "" && apellido != "" && telefono != "" && correo != "" && asunto != "" && mensaje != "") {



                    var form_data = new FormData();

                    form_data.append("NOMBRE_CLIENTE", $("#nombre_cliente").val());
                    form_data.append("APELLIDO_CLIENTE", $("#apellido_cliente").val());
                    form_data.append("TELEFONO_CLIENTE", $("#telefono_cliente").val());
                    form_data.append("EMAIL_CLIENTE", $("#correo_cliente").val());
                    form_data.append("ASUNTO", $("#asunto").val());
                    form_data.append("MENSAJE", $("#mensaje_cliente").val());
                    form_data.append("FK_ARTISTA", $("#fk_artista").val());
                    form_data.append("FK_PRODUCTO", $("#fk_producto").val());

                    for (var value of form_data.values()) {
                        console.log(value);
                    }

                    var url = "@Url.Content("~/JsonProductos/RegistroCliente")";

                    $.ajax({

                        cache: false,
                        contentType: false,
                        data: form_data,
                        dataType: 'JSON',
                        // enctype: 'multipart/form-data',
                        processData: false,
                        method: "POST",
                        url: url,
                        success: function (data) {
                            if (data == 1) {
                                swal("Registrado exitosamente!", "El artista se estará comunicando lo más pronto contigo", "success");
                                $("#nombre_cliente").val("");
                                $("#apellido_cliente").val("");
                                $("#telefono_cliente").val("");
                                $("#correo_cliente").val("");
                                $("#asunto").val("");
                                $("#mensaje_cliente").val("");


                            } else {

                            }

                        }

                    })
                } else {
                    if (nombre == "") {
                        document.getElementById("valNombre").innerHTML = '<h6 id="valNombre" style="color:red">Campo requerido</h6>';
                    } else {
                        document.getElementById("valNombre").innerHTML = '<h6 id="valNombre" style="color:red"></h6>';
                    }

                    if (apellido == "") {
                        document.getElementById("valApellido").innerHTML = '<h6 id="valApellido" style="color:red">Campo requerido</h6>';
                    } else {
                        document.getElementById("valApellido").innerHTML = '<h6 id="valApellido" style="color:red"></h6>';
                    }

                    if (telefono == "") {
                        document.getElementById("valTel").innerHTML = '<h6 id="valTel" style="color:red">Campo requerido</h6>';
                    } else {
                        document.getElementById("valTel").innerHTML = '<h6 id="valTel" style="color:red"></h6>';
                    }

                    if (correo == "") {
                        document.getElementById("valCorreo").innerHTML = '<h6 id="valCorreo" style="color:red">Campo requerido</h6>';
                    } else {
                        document.getElementById("valCorreo").innerHTML = '<h6 id="valCorreo" style="color:red"></h6>';
                    }

                    if (asunto == "") {
                        document.getElementById("valAsunto").innerHTML = '<h6 id="valAsunto" style="color:red">Campo requerido</h6>';
                    } else {
                        document.getElementById("valAsunto").innerHTML = '<h6 id="valAsunto" style="color:red"></h6>';
                    }

                    if (mensaje == "") {
                        document.getElementById("valMensaje").innerHTML = '<h6 id="valMensaje" style="color:red">Campo requerido</h6>';
                    } else {
                        document.getElementById("valMensaje").innerHTML = '<h6 id="valMensaje" style="color:red"></h6>';
                    }

                }
            });

        });

    </script>
    

}
