
<head>
    <style>
        import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Belgrano&family=Carter+One&family=Cinzel:wght@400;500&family=Cookie&family=Licorice&family=Martel:wght@600&family=Merriweather:wght@900&family=Michroma&family=Pacifico&family=Playball&family=Playfair+Display+SC&family=Prompt:ital,wght@0,300;1,300&family=Ramaraja&family=Sacramento&family=Secular+One&family=Slabo+27px&family=Varela+Round&family=Zilla+Slab:wght@300&display=swap');
    </style>

    <script src="//code.tidio.co/7fa7g4jye4gq0epqdd8ainscf8av7f8n.js" async></script>
</head>

<!-- carousel-->


<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/ArchivosLectura/imagenes-index/rain.jpg" class="d-block w-100" alt="..." width="500" height="450">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:brown">Conoce SpiritualArt</h5>
                <p style="color:brown">Una gran oportunidad para emancipar tu creaitividad.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://bit.ly/3iMHuI1" class="d-block w-100" alt="..." width="500" height="450">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:brown">¿Quieres hacer parte de la comunidad SpiritualArt?</h5>
                <p style="color:brown;"><a style="text-decoration: none; background-color:aliceblue" href="@Url.Action("InfoNegocio", "Principal")">Solicita información aquí</a></p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/ArchivosLectura/imagenes-index/salpica4.png" class="d-block w-100" alt="..." width="500" height="450">
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:brown">¿Quieres comprar arte?</h5>
                <p style="color:brown"><a style="text-decoration: none; background-color:aliceblue" href="@Url.Action("Exposicion", "Principal")">Visita nuestra exposición virtual</a></p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="body2">
    <h2 class="titulocate">Categorías</h2>
    <div id="wrapper">
        <div id="carousel">
            <div id="content">
                <figure class="item1">
                    <figcaption class="spn">
                        <a href="@Url.Action("InfoGeneral", "Principal")">Artes plásticas</a>
                    </figcaption>
                </figure>
                <figure class="item2">
                    <figcaption class="spn"><a href="@Url.Action("InfoGeneral", "Principal")">Pintura</a></figcaption>
                </figure>
                <figure class="item3">
                    <figcaption class="spn"><a href="@Url.Action("InfoGeneral", "Principal")">Arte Moderno</a></figcaption>
                </figure>

                <figure class="item4">
                    <figcaption class="spn"><a href="@Url.Action("InfoGeneral", "Principal")">Fotografía</a></figcaption>
                </figure>
            </div>
        </div>
        <button id="prev">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M15.61 7.41L14.2 6l-6 6 6 6 1.41-1.41L11.03 12l4.58-4.59z" />
            </svg>
        </button>
        <button id="next">
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0V0z" />
                <path d="M10.02 6L8.61 7.41 13.19 12l-4.58 4.59L10.02 18l6-6-6-6z" />
            </svg>
        </button>

    </div>
</div>




<!--CAROUSEL 3-->
<h2 class="titulocate" style="text-align:center">Obras Destacadas</h2>
<div class="car3">

    <div class="center">
        <div class="wrapper">
            <div class="inner" id="card-json">


                <div class="card">

                </div>

            </div>

        </div>

        <div class="map">
            <button class="active first"></button>
            <button class="second"></button>
            <button class="third"></button>


        </div>
    </div>


</div>
<div class="info-artistas">
    <h3 class="titulo-info">Échale un vistazo a nuestras obras de arte.</h3>
    <p class="parrafo-info-artistas">Descubre el talento de los artistas que hacen parte de nuestra comunidad SpiritualArt.</p>
    <div class="btn-expo">

        <a href="@Url.Action("Exposicion", "Principal")">
            <input type="button" value="Ver exposición" class="btn-info">
        </a>
    </div>
</div>
<div>

    <div class="grid-info">


        <div class="item-info-uno"></div>
        <div class="item-info-dos">

            <h1 class="titulo-info">UN ESPACIO DONDE EXPONER TUS OBRAS.</h1>

            <p class="parrafo-info">
                SpiritualArt te da el espacio que necesitas para exponer todas tus obras, podrás exponer tus cuadros a óleo, tus acuarelas, tus acrílicos, pasteles, dibujos, tus esculturas y también tenemos un espacio para la fotografía de autor, la fotografia artística.
                Queremos apoyar al arte en todas sus vertientes y por eso hemos creado este espacio.
            </p>
            <p class="parrafo-info">SpiritualArt te proporciona todas las herramientas, para que el viaje a la creacción de tu Exposición Virtual, sea fácil y sencillo. Nuestras prioridades son que tanto los artistas que expongan, como todos los que visiten nuestra galería disfrunten de un recorrido hermoso y diferente, es decir, que podamos todos disfrutar del arte.</p>

        </div>
    </div>
</div>


@section scripts{

    <script>

        //listar obras premium
        function listarPremium() {
            fetch("@Url.Content("~/JsonProductos/ObrasPremium")")
                .then(function (res) {

                    return res.json();
                })

                .then(function (miJson) {

                    console.log(miJson);
                   document.getElementById("card-json").innerHTML = "";
                    //let ruta = "~/ ArchivosLectura/imagenes-index/fig1.jpg"


                    for (let i = 0; i < miJson.length; i++){

                        document.getElementById("card-json").innerHTML = document.getElementById("card-json").innerHTML +
                            '<div class="card" >' +
                            '<img src="' + miJson[i].IMAGEN_PRODUCTO+'" >' +
                            '<div class="content">' +

                            '<h1>'+miJson[i].NOMBRE_PRODUCTO+'</h1>' +

                            '<h3>'+miJson[i].nombreArtista+'</h3>' +

                            '</div >' +
                            '</div >'



                    }


                })
        }

        (listarPremium)();

    </script>

}
