
@model List<WebAppAjaxSpiritualArt.Models.REGISTRO_ARTISTA>
@{
    ViewBag.Title = "ListarArtistas";
}

<div class="header-info">

    <div class="container-header-spiritual">
        <a href="#" style="text-decoration:none; color:darkgray"><h2>Conoce Spiritual Art</h2></a>
    </div>
    <div class="container-logo-header">
        <img src="~/ArchivosLectura/imagenes-index/logo.jpeg" class="img-fluid" />
    </div>
</div><br /><br />

<div class="container">
    <div class="rowProducts">
        <h2 class="titulocate">Artistas de Spiritual Art</h2>

        <div class="row">
            @foreach (var artistas in Model)
            {

                <article class="">
                    <figure class="producto">

                        <img src="@Url.Content(artistas.IMAGEN)" />

                        <a href="@Url.Action("DetalleArtista/" + artistas.PK_ID_ARTISTA)" style="text-decoration:none">
                            <h2 class="subCate">@artistas.NOMBRE_ARTISTA</h2>
                        </a>
                        <figcaption>@artistas.CIUDAD</figcaption>
                    </figure>
                </article>

            }


        </div>
    </div>
</div>

<div class="info-artistas">
    <h3 class="titulo-info">¿Quieres hacer parte de la comunidad SpiritualArt?</h3>
    <p class="parrafo-info-artistas">Haz parte de nuestra comunidad y expande tu creatividad.</p>
    <div class="btn-expo">

        <a href="@Url.Action("InfoNegocio", "Principal")">
            <input type="button" value="Ver información" class="btn-danger">
        </a>
    </div>
</div>